<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href={{url_for('static' , filename = 'css/normalize.css')}}>
    <link rel="stylesheet" href={{url_for('static' , filename = 'css/grid.css')}}>
    <link rel='stylesheet' href={{url_for('static' , filename = 'css/style.css')}}>    
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
</head>
<body>


<header style = "height: 100% , width : 100% background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.7)),url('new1.jpg');">
            <nav>
                <ul style = "padding-right: 2%;" class = "main-nav">
                    <li><a href ="/">HomePage</a></li>
                    <!-- <li><a href = "#">Sign up</a></li> -->
                
                </ul>
               
            </nav>
            
            
            


            </div>



        </header>

</body>
</html>